<!DOCTYPE html>
<html>

	<head>
		<!-- CSS/JS库 -->
		<link rel="stylesheet" href='/bootstrap/docs/assets/css/bootstrap.css'>
		<link rel="stylesheet" href='/stylesheets/style.css'>
		<script type="text/javascript" src='/jquery/jquery.min.js'></script>
		<script type="text/javascript" src='/bootstrap/docs/assets/js/bootstrap.min.js'></script>
		<script type="text/javascript" src='/vendor/doT.min.js'></script>

		<!-- 视图模板 -->
		<script type="text/javascript" src='/javascripts/views/regTmpl.js'></script>
		<script type="text/javascript" src='/javascripts/views/loginTmpl.js'></script>
		<script type="text/javascript" src='/javascripts/views/listTmpl.js'></script>
	</head>

	<body>
		<script type="text/javascript">
			var title = '<%= title %>'
		</script>
		<!-- APP主文件 -->
		<script type="text/javascript" src='/javascripts/main.js'></script>
	</body>

</html>