//--------------------　全局 --------------------//

body
	padding 0px
	margin 0px
	font 12px "proxima-nova,'Proxima Nova','Helvetica Neue',Helvetica,sans-serif", Helvetica, Arial, sans-serif
	background #ccc
a
	color #999
a:hover
	color #666
	text-decoration none
.lfloat
	float left
.rfloat
	float: right
fixed()
	position fixed

alignCenter()
	margin 0px auto